@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

.hidden {
  visibility: hidden;
  width: max-content;
  overflow: visible;
  height: 0;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 10s linear infinite;
}

.marquee > p {
  white-space: nowrap;
  display: inline-block;
}

.wrapper {
  max-width: 100%;
  overflow: hidden;
  line-height: 0;
}
