.hidden {
  visibility: hidden;
  width: max-content;
  overflow: visible;
  height: 0;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.marquee > p {
  white-space: nowrap;
  display: inline-block;
}

.wrapper {
  max-width: 100%;
  overflow: hidden;
  line-height: 0;
}
