.header {
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  background-color: var(--backgroundColor);
}

.avatar {
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 5rem;
}

.heading {
  justify-self: center;
}
