.header {
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  background-color: white;
}

.avatar {
  border-radius: 5rem;
}

.heading {
  justify-self: center;
}

.profile {
  position: relative;
}

.hiddenSubMenu {
  display: none;
}

.subMenu {
  margin: 0.25rem;
  background-color: lightgrey;
  position: absolute;
  right: 0;
  width: 125px;
  z-index: 10;
  border-radius: 4px;
}

.subMenuItem {
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  padding: 8px;
  font-size: 0.8rem;
  position: relative;
}

.subMenuItem::after {
  content: '';
  width: 90%;
  height: 1px;
  background-color: #9999;
  position: absolute;
  bottom: 0;
  left: 5%;
}

.subMenuItem:nth-last-child(1)::after {
  display: none;
}
