.header {
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  background-color: white;
}

.avatar {
  border-radius: 5rem;
}

.heading {
  justify-self: center;
}

.profile {
  position: relative;
}

.signOut {
  margin: 0.25rem;
  border: none;
  background: none;
}

.hiddenSubMenu {
  display: none;
}

.subMenu {
  margin: 0.25rem;
  background-color: lightgrey;
  position: absolute;
  right: 0;
  width: 100px;
  z-index: 10;
}
