:root {
  --backgroundColor: #fff;
  --textSecondaryColor: #3e3e3e;
  --textColor: #000;
}

.dark {
  --backgroundColor: #222;
  --textSecondaryColor: grey;
  --textColor: #fff;
}

@media (prefers-color-scheme: dark) {
  :root:not(.light):not(.dark) {
    --backgroundColor: #222;
    --textSecondaryColor: grey;
    --textColor: #fff;
  }
}

.light {
  --backgroundColor: #fff;
  --textSecondaryColor: #3e3e3e;
  --textColor: #000;
}

@media (prefers-color-scheme: light) {
  :root:not(.light):not(.dark) {
    --backgroundColor: #fff;
    --textSecondaryColor: #3e3e3e;
    --textColor: #000;
  }
}

* {
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}
