.loginForm {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  gap: 0.5rem;
}

.loginButton {
  border-radius: 2rem;
  border: none;
  background-color: var(--backgroundSecondaryColor);
  color: var(--text-color);
  padding: 0.5rem 1rem;
  font-size: small;
  cursor: pointer;
}
