.app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 auto;
  height: 100dvh;
  max-width: 600px;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .app {
    min-width: unset;
  }
}

.main {
  overflow-y: scroll;
  overflow-x: hidden;
}
